{% extends 'base.html' %}

{% block title %}
	Reporte Mensual Instructor
{% endblock  %}

{% block content %}
<div align="center">
    <div id="car" class="card z-depth-3 hoverable" >
		<h5 id="cn" align="center "><p>{{mes}}: TOTAL DE REPORTES {{total_reportes}}</p></h5>
		<div class="divider"></div><br>
			{% if consultar %}						
					<!--<li> Tipo de pqrs:{{ p.tipo_pqrs}}; Mensaje: {{ p.mensaje}}</li>-->
					<table class="col s12 bordered responsive-table">
						<theader>
							<tr>
								<th>Nombres</th>
								<th>Apellidos</th>	
								<th>Fecha</th>	
								<th>Nombre Adjunto</th>
								
								<th></th>												
							</tr>
						</theader>					
						<tbody>
							{% for c in consultar %}
							<tr>
								<td>{{ c.usuario.first_name }}</td>
								<td>{{ c.usuario.last_name }}</td>
								<td>{{ c.fecha }}</td>	
								<td>{{ c.nombre_adjunto }}</td>
								
								<td><a href="{{c.adjunto_exel.url}} " title="">(Descargar)</a></td>						
							</tr>
							{% endfor %}			
						</tbody>							
					</table>
									
			{% else %}
				<center><p><h5>No se han subido reportes en este mes</h5></p></center>
				
			{% endif %}		
	</div>			
</div>	

{% endblock  %}