<html>
<head>
	<title>
	Importar
	</title>

	<link rel="stylesheet" type="text/css" href="/media/css/materialize.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta charset="utf-8">
</head>
<body>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/media/js/materialize.js"></script>
	 <nav class="teal darken-1" role="navigation">
		
		<img src="/media/images/Logos-sena-blanco.png" width="110px" height="70px" float="left">
		<a  href="{% url 'vista_index' %}" class="brand-logo hide-on-med-and-down" float="left"><font size="5">Reporte Mensual Instructor</font></a>		
		  <ul class="right ">
		  	<li>
		  		<a  href="{% url 'vista_index' %}">Inicio</a></li>
		  		<li><a  href="{% url 'comision' %}">Generar comision</a></li>
		  	</ul>		  
		
	 </nav>  

	<div class="row">
	<div class="">

		<div class="teal darken-1 col s12 m12  l10 offset-l1" align="center">
			<span class="white-text" >
					<h5>
					Lista de Comisionados
					</h5>
			</span>
		</div>
		<table class=" teal lighten-4 col s12 m12 l12 card-panel highlight striped col l12">
			<thead class="teal">
			  <tr class="white-text">
				  <th>Comisionado</th>
				  <th>Identificacion</th>
				  <th>Regional</th>
				  <th>Ver</th>
			  </tr>
			</thead>

			<tbody>

			{% for c in lista %}
			  <tr>
				<td>{{c.nombres_comisionado}}</td>
				<td>{{c.identificacion}}</td>
				<td>{{c.regional}}</td>
				<td>
					<a class="white-text btn waves-effect waves-light teal" href="{% url 'ver_comision' id_com=c.id %}" >
						Ver mas...
						<i class="material-icons left">info</i>
					</a>
				</td>

			  </tr>
			{% endfor %}

			</tbody>
		</table>

	

	</div>	
	</div>
<script>
	$(document).ready(function(){
		$('select').material_select();
		
		//$('select').not('.disabled').material_select();
		//$('select:not([multiple])').material_select();
		$(".button-collapse").sideNav();
		$('.modal-trigger').leanModal();
		$('ul.tabs').tabs();
		$('ul.tabs').tabs('select_tab', 'tab_id');
		$('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 150 // Creates a dropdown of 15 years to control year
		  	//yearRange: "1900:2012",
		  	//changeYear: true,
		  });
			});
		$('.parallax').parallax();

</script>
</body>
</html>